.percent {
    //display: flex;
    //max-width: 15%;
    //width: 100%;
    //justify-content: space-between;
    //padding: 0 10px;
    padding-bottom: 7px;
    &::after {
        content: "%";
    }
}
