.user {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid rgba(31, 35, 45, .15);

    &__pic {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
    }
    &__img {
        max-height: unset;
    }
    &__name {
        font-size: 18px;
        font-weight: 900;
        color: #414c63;
    }
}