script(type="text/x-template")#skills-row
    ul.stack__list
        li.stack__item(
            v-for="skillItem in skill.skills"
        )
            skill(
                :skill="skillItem"
            )
