script(type="text/x-template")#slider-container
    .works__sliders
        display(
            :works="works",
            :currentWork="currentWork"
            :currentIndex="currentIndex"
            @slide="handleSlide"
        )

script(type="text/x-template")#slider-display
    .works__slide
        .works__slider-left
            figure.works__preview
                img(:src="currentWork.photo" alt="" class="works__img-full")
                previews(
                    :works="reversePrev"
                    :currentWork="currentWork"
                    :currentIndex = "currentIndex"
                )
            btns(
                @slide="$emit('slide', $event)"
            )
            .works__number {{currentWork.id}}
        .works__slider-rigth
            info(
                :currentWork="currentWork"
            )

script(type="text/x-template")#slider-btns
    .controls
        button(@click="$emit('slide', 'next')" type="button" class="controls__button controls_up")
            +icon("arrow", "arrow__up")
        button(@click="$emit('slide', 'prev')" type="button" class="controls__button controls_down")
            +icon("arrow", "arrow__down")


script(type="text/x-template")#slider-preview
    .miniatures
        ul.miniatures__list(ref="list" :style="{ transform: `translateY(${translate}px)` }"
        )
            li.miniatures__item(
                v-for="work in works"
                ref="item"
            )
                div(:class="{miniatures__active: work.id === currentWork.id}")
                a.miniatures__link(href="#")
                    img(:src="work.photo" alt="" class="miniatures__img-mini")

script(type="text/x-template")#slider-info
    .works__content
        tags(
            :tags="tagsArray"
        )
        h3.title.works__content-title {{currentWork.title}}
        .works__content-desc {{currentWork.desc}}
        .works__content-site
            +icon("link", "works__site-svg")
            a(:href="currentWork.link").works__link Посмотреть сайт

script(type="text/x-template")#slider-tags
    .tag
        ul.tag__list
            li.tag__item(v-for="tag in tags") {{tag}}
