header.header
    .container.header__container
        .header__inner
            .header__logo
                .title ะะก
            nav.header__menu
                +nav(navData)
            .header__social
                +social(socialData)
        .header__hamburger
            .hamburger
                span.hamburger__line1
                span.hamburger__line2
                span.hamburger__line3
nav.header__menu-mobile.menu-mobile
    .menu-mobile.menu-mobile__hamburger
        .hamburger.hamburger_active
            span.hamburger__line1
            span.hamburger__line2
            span.hamburger__line3

    .menu-mobile__container
        nav.nav
            +nav(navData, "header__mobile")
        +social(socialData)
