section.promo.fullscreen-section
    .promo__parallax.parallax
        .parallax__layer(data-speed="0.1")
            +image('content/promo-parallax/1.jpg', 'parallax__img')
        - var i = 0.1
        each item in [2, 3, 4, 5, 6, 7]
            .parallax__layer(data-speed=`${(i += 0.2).toFixed(2)}`)
                +image(`content/promo-parallax/${item}.png`, 'parallax__img')
    .container.promo__container
        .promo__inner
            .promo__greeting.greeting Личный сайт веб&nbsp;разработчика
            h1.title.promo__title #{authorName}
        .promo__scroll.scroll
            a(href="#", title="Scroll").scroll__link Скролл
                +icon("scroll", "scroll__svg")