section.promo
    .parallax__top
    .container.promo__container
        .promo__inner
            .promo__greeting.greeting Личный сайт веб&nbsp;разработчика
            h1.title.promo__title #{authorName}
        .promo__scroll.scroll
            a(href="#", title="Scroll").scroll__link Скролл
                +icon("scroll", "scroll__svg")