section.skills
    .container.skills__container
        .skills__inner
            h2.title.skills__title Чем я могу быть полезен вам
            p.footnote.skills__footnote Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            #skills-block
            include ../components/stack