section.skills.fullscreen-section
    .container.skills__container
        .skills__container_inner
            .skills__left-column
                .skills__pic
                    +image("content/backpack.png", "skills__img")
            .skills__rigth-column
                h2.title.skills__title Чем я могу быть полезен вам
                p.footnote.skills__footnote Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                .skills__block
                    +stack(
                        [
                            "front-end",
                            "HTML",
                            "CSS3",
                            "Javascript",
                            "Jquery и Vue.js"
                        ]
                    )
                    +stack(
                        [
                            "workflow",
                            "GIT",
                            "Terminal",
                            "Gulp",
                            "Webpack"
                        ]
                    )
