section.works
    .works__slider-mobile
        h2.title.works__title Мои работы
        figure.works__preview
            +image("content/worksPreview/1.jpg", "works__img-full")
        +directionArrow(["up", "down"])
    .container.works__container
        h2.title.works__title.works__title-hidden Мои работы
        #slider-component