include ./mixins.pug

-
  var authorName = "Денис Стрельцов"
  var  navData = {
      "Главная" : "#1",
      "Обо мне" : "#2",
      "Навыки" : "#3",
      "Работы" : "#4",
      "Отызыв" : "#5",
      "Связаться" : "#6"
  }
  var socialData = {
    "insta" : "#1",
    "vk" : "#2",
    "github" : "#3"
  }

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="icon" type="image/png" sizes="32x32" href="./images/content/favicon-32x32.png")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        include ./pug-example/sections/header
        include ./pug-example/sections/promo
        include ./pug-example/sections/about
        include ./pug-example/sections/skills
        include ./pug-example/sections/works
        include ./pug-example/sections/reviews
        include ./pug-example/sections/feedback
        include ./pug-example/sections/footer
        include ./pug-example/components/empty
