.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    &__up {
        width: 10px;
        transform: rotate(-90deg);
    }
    &__down {
        width: 10px;
        transform: rotate(90deg);
    }
    &__left {
        width: 15px;
        transform: rotate(180deg);
    }
    &__right {
        width: 15px;

    }
}