.miniatures {
    position: absolute;
    bottom: 0;
    right: 0;
    @include phones {
        display: none;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }
    &__item {
        position: relative;
    }
    &__active {
        border: solid 3px #dc9322;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &__img-mini {
        max-width: 185px;
        @include desktop {
            max-width: 130px;
        }
    }
}
