.nav {
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__link {
        color: $text-color;
        text-decoration: none;
        transition: .4s;
        border-bottom: solid transparent;
        border-bottom-width: 3px;
        &:hover {
            color: $links-hover;
            border-bottom: 3px solid $links-hover;
        }
    }
}