.scroll {
    &__link {
        display: flex;
        align-items: center;
        color: $text-color;
        font-weight: 600
    }
    &__svg {
        height: 30px;
        margin-left: 20px;
    }
}